// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header {
    font-family: 'Hevetica Neue', sans-serif;
    .header-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .header-col {
        display: flex;
        flex-direction: column;
    }
}
